{% extends 'admin.html.twig' %}

{% block title %}Edit Functions{% endblock %}

{% block body %}
    <h1>Edit Functions</h1>

    {{ include('admin/functions/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('functions_index') }}">back to list</a>

    {{ include('admin/functions/_delete_form.html.twig') }}
{% endblock %}
