{% extends 'admin.html.twig' %}

{% block title %}Functions index{% endblock %}

{% block body %}
    <h1>Functions index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for function in functions %}
            <tr>
                <td>{{ function.id }}</td>
                <td>{{ function.name }}</td>
                <td>
                    <a href="{{ path('functions_show', {'id': function.id}) }}">show</a>
                    <a href="{{ path('functions_edit', {'id': function.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('functions_new') }}">Create new</a>
{% endblock %}
