{% extends 'admin.html.twig' %}

{% block title %}New Functions{% endblock %}

{% block body %}
    <h1>Create new Functions</h1>

    {{ include('admin/functions/_form.html.twig') }}

    <a href="{{ path('functions_index') }}">back to list</a>
{% endblock %}
