{% extends 'admin.html.twig' %}

{% block title %}Fonctions{% endblock %}

{% block body %}
    <h1>Fonction</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ function.id }}</td>
        </tr>
        <tr>
            <th>Name</th>
            <td>{{ function.name }}</td>
        </tr>
        </tbody>
    </table>

    <a href="{{ path('functions_index') }}">back to list</a>

    <a href="{{ path('functions_edit', {'id': function.id}) }}">edit</a>

    {{ include('admin/functions/_delete_form.html.twig') }}
{% endblock %}
