{% extends 'base.html.twig' %}
{% block head %}

    <link rel="stylesheet" href="{{ asset('css/about.css') }}" />
    <title>Ludopawn - À propos de nous</title>

{% endblock %}

{% block body %}

    {% block title %} <h1>À propos de nous</h1>{% endblock %}

    <div class="container">
        <div class="category">
            <p>Le site Internet www.ludopawn.fr, ci-après dénommé "Ludopawn" propose différents types de service dans le thème des jeux de société</p>
                <ul>
                    <li> Centralisation des différents bar à jeux</li>
                    <li> Centralisation des différents types de jeu de société</li>
                    <li> Centralisation des différentes associations relatives aux jeux de sociétés</li>
                </ul>
        </div>

        <div class="category">
            <h2>Notre super équipe !</h2>
            <p>Voici notre joli comité composé des meilleurs dans le domaine du jeu "sociétal"</p>
        </div>
        <img class="team" src="https://picsum.photos/500/500">
    </div>

{% endblock %}
