<form method="post" action="{{ path('notation_theme_delete', {'id': notation_theme.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ notation_theme.id) }}">
    <button class="btn">Delete</button>
</form>
