{% extends 'admin.html.twig' %}

{% block title %}Edit NotationTheme{% endblock %}

{% block body %}
    <h1>Edit NotationTheme</h1>

    {{ include('admin/notation_theme/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('notation_theme_index') }}">back to list</a>

    {{ include('admin/notation_theme/_delete_form.html.twig') }}
{% endblock %}
