{% extends 'admin.html.twig' %}

{% block title %}NotationTheme index{% endblock %}

{% block body %}
    <h1>NotationTheme index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>WeakWord</th>
                <th>StrongWord</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for notation_theme in notation_themes %}
            <tr>
                <td>{{ notation_theme.id }}</td>
                <td>{{ notation_theme.name }}</td>
                <td>{{ notation_theme.weakWord }}</td>
                <td>{{ notation_theme.strongWord }}</td>
                <td>
                    <a href="{{ path('notation_theme_show', {'id': notation_theme.id}) }}">show</a>
                    <a href="{{ path('notation_theme_edit', {'id': notation_theme.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('notation_theme_new') }}">Create new</a>
{% endblock %}
