{% extends 'admin.html.twig' %}

{% block title %}New NotationTheme{% endblock %}

{% block body %}
    <h1>Create new NotationTheme</h1>

    {{ include('admin/notation_theme/_form.html.twig') }}

    <a href="{{ path('notation_theme_index') }}">back to list</a>
{% endblock %}
