{% extends 'admin.html.twig' %}

{% block title %}Thèmes de notation{% endblock %}

{% block body %}
    <h1>Thème</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ notation_theme.id }}</td>
        </tr>
        <tr>
            <th>Name</th>
            <td>{{ notation_theme.name }}</td>
        </tr>
        </tbody>
    </table>

    <a href="{{ path('notation_theme_index') }}">back to list</a>

    <a href="{{ path('notation_theme_edit', {'id': notation_theme.id}) }}">edit</a>

    {{ include('admin/notation_theme/_delete_form.html.twig') }}
{% endblock %}
