{% extends 'base.html.twig' %}

{% block head %}
    <link rel="stylesheet" href="{{ asset('css/style_login.css') }}" />
    <title>Ludopawn - Connexion</title>
{% endblock %}

{% block body %}
<div class="container">
    <h2 id="title_connection"><span><i class="fas fa-unlock-alt"></i></span> Connecte toi !</h2>
    <img id="logo" class="center" src="{{ asset('images/ludopawn/logo.png') }}" title="Ludopawn logo" alt="image logo">
</div>

<div class="container" id="form_small">
    <form method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <label for="inputEmail" >Login d'utilisateur :</label>
        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" placeholder="Email d'utilisateur" required autofocus>
        <label for="inputPassword" >Mot de passe :</label>
        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Mot de passe" required>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me" checked> Garder la connexion active
            </label>
        </div>
        <button class="btn btn-lg btn-primary center" type="submit">
            Connexion!
        </button>
    </form>
</div>

<div class="container subconnection center">
    <a href="{{ path('app_login') }}">Mot de passe oublié ?</a>
    <a href="{{ path('app_login') }}">Créer un nouveau compte</a>
</div>
{% endblock %}