{% extends 'base.html.twig' %}

{% block head %}
    <link rel="stylesheet" href="{{ asset('css/style_home.css') }}" />
    <title>Ludopawn - Accueil</title>
{% endblock %}

{% block body %}
    <div class="container">
        <p>Contenu body de la main page</p>
    </div>
{% endblock %}
