<footer>
    <div id="footer_block">
        <a class="links" href="{{ path('legal') }}"> Mentions légales </a>
        <a class="links" href="{{ path('about') }}"> Qui sommes nous ? </a>
        <a class="links" href="{{ path('contact') }}"> Contactez-nous ! </a>
        <span class="networks">
            Nous suivre :
            <a href="#">
                <img src="{{ asset('images/footer/facebook-icon.png') }}">
            </a>
            <a href="#">
                <img src="{{ asset('images/footer/twitter.png') }}">
            </a>
            <a href="#">
                <img src="{{ asset('images/footer/insta.png') }}">
            </a>
        </span>
    </div>
    <div class="rights">Ludopawn Copyright - All right reserved</div>
</footer>
