
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<!-- Pour être indexé correctement -->
<meta name="description" content="Le site de notation de jeux de société">
<meta property="og:title" content="Ludopawn">
<meta property="og:type" content="website">
<meta property="og:url" content="">
<meta property="og:image" content="">
<meta property="og:site_name" content="Ludopawn">

<meta name="keywords" content="jeux de société, boardgames, jouer, monopoly, uno, bar à jeux">

<meta name="viewport" content="width=device-width, initial-scale=1"> <!-- À noter pour adapter le site à l'écran de l'appareil -->

<!-- BOOTSTRAP -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">

<link rel="stylesheet" href="{{ asset('css/style.css') }}" />
<!-- FONT AWESOME -->
<link rel="stylesheet" href="{{ asset('fontawesome/css/all.css') }}" />

<link rel="shortcut icon" type="image/png" href="{{ asset('images/ludopawn/favicon.png') }}"/>
