
<nav class="navbar navbar-expand-sm navbar-light">
    <!-- Brand -->
    <a class="navbar-brand" href="{{ path('home') }}">
        <img id="logo_menu" src="{{ asset('images/ludopawn/logo.png') }}" alt="Logo" >
    </a>
    <a class="navbar-brand" href="{{ path('home') }}">Ludopawn</a>

    <!-- Links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="{{ path('bars') }}">Les bars</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('games') }}">Les jeux</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('shops') }}">Les boutiques</a>
        </li>
    </ul>

    <!-- Dropdown -->
    <ul class ="navbar-nav ml-auto">
        {% if is_granted("IS_AUTHENTICATED_FULLY") and app.user %}
            {% if is_granted('ROLE_ADMIN') %}
                <a class="btn btn-primary" href="{{ path('admin') }}">Espace Admin</a>
            {% endif %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img src="{{ asset('images/ludopawn/no_avatar.png') }}" width="40" height="40" class="rounded-circle">
                    <!-- TODO: Cette image sera remplacée par l'image de l'user enregistrée en BDD -->
                    <!-- TODO: Mettre le nom de l'user quelque part ? app.user.firstname  -->
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="{{ path('my_profile') }}">Paramètres</a>
                    <a class="dropdown-item" href="{{ path('app_logout') }}">Déconnexion</a>
                </div>
            </li>
        {% else %}
            <a class="btn btn-success" href="{{ path('app_login') }}">Se connecter </a>
        {% endif %}
    </ul>

</nav>