{% extends 'base.html.twig' %}
{% block head %}

    <link rel="stylesheet" href="{{ asset('css/legal.css') }}" />
    <title>Ludopawn - Mentions légales</title>

{% endblock %}

{% block body %}

    {% block title %} <h1>Mentions légales</h1>{% endblock %}

    <div class="container">

        <div class="category">
            <div class="tab">
                <p>Le site Internet www.ludopawn.fr, ci-après dénommé "Ludopawn" propose différents types de service dans le thème des jeux de société</p>
                    <ul>
                        <li> Centralisation des différents bar à jeux</li>
                        <li> Centralisation des différents types de jeu de société</li>
                        <li> Centralisation des différentes associations relatives aux jeux de sociétés</li>
                    </ul>
                <p>Ludopawn est une SARL au capital de 10€, enregistrée au registre du commerce de Toulouse sous le numéro 498 967 066</p>
                <p>L'accès au site, sa consultation et son utilisation sont subordonnés à l'acceptation sans réserve des présentes Conditions Générales d'Utilisation de Ludopawn.fr.</p>
                <p>Le site est édité par le Cesi FRANCE</p>
            </div>
        </div>

        <div class="category">
            <h4>Adresse de la société</h4>
            <div class="tab">
                <p>Siège social: Batiment Alpha, 16 Rue Magellan, 31670 Labège.</p>
                <p>Adresse email : contact@ludopawn.com</p>
                <p>Numéro de téléphone : 08 00 10 10 80</p>
                <p>Le directeur de Publication de Ludopawn est Monsieur Pelotte Maxime.</p>
                <p>Numéro de TVA intracommunautaire : FR32521724336</p>
                <p>Pour toute question sur l'entreprise, vous pouvez nous <a href="mailto:aymeric.gioia@gmail.com">envoyer vos questions par email.</a></p>
            </div>
        </div>

        <div class="category">
            <h4>Protection des données personelles</h4>
            <div class="tab">
                <p>Conformément à l’article 34 de la loi « informatique et libertés » du 6 Janvier 1978, les visiteurs ou clients du site www.ludopawn.fr disposent à tout moment d’un droit d’accès, de modification, de rectification et de suppression des données qui les concernent. Le traitement des informations nominatives et/ou personnelles par Ludopawn sur le site www.ludopawn.fr a fait l’objet d’une déclaration à la CNIL sous le numéro 1260209.</p>
            </div>
        </div>

        <div class="category">
            <h4>Droits d'auteurs</h4>
                <div class="tab">
                    <p>L'ensemble de ce site relève de la législation française et internationale sur le droit d'auteur et la propriété intellectuelle. Tous les droits de reproduction sont réservés, y compris pour les représentations iconographiques et photographiques.</p>
                    <p>La reproduction de tout ou partie de ce site sur quelque support que ce soit est formellement interdite sauf autorisation expresse de Esprit Jeu. Les droits de reproduction sont réservés et strictement limités. Toute copie, même partielle, des éléments constituant ce site pourra faire l'objet de poursuites judiciaires.</p>
                </div>
        </div>

        <div class="category">
            <h4>Protection des données</h4>
            <div class="tab">
                <p>Ludopawn met tout en oeuvre pour protéger les données personnelles contre toute forme de perte, dommage ou altération, destruction, détournement, divulgation non autorisée. Cependant, les visiteurs du site www.ludopawn.com sont informés des risques liés aux technologies mises en œuvres sur le réseau Internet. Les employés de Ludopawn qui du fait de leur fonction auraient accès à ces données personnelles et confidentielles s’engagent à respecter la plus grande confidentialité.</p>
                <p>Les mesures de protection des données peuvent changer en fonction du développement technologique, c’est pourquoi nous vous demandons de vous renseigner sur nos pratiques de protection des données régulièrement.</p>
                <p>Pour toute demande ne provenant pas des autorités publiques, nous vous invitons à utiliser notre formulaire de Contact en cliquant sur le lien: <a href="{{ path('contact') }}">formulaire de contact</a> .Vous pourrez alors sélectionner la raison et expliquer votre situation en détail. L’équipe dédiée prendra alors toutes les mesures nécessaires.</p>
            </div>
        </div>
    </div>
{% endblock %}
