

/* MENU BAR */
ul {
    list-style-type: none;
    margin: -8px;
    overflow: hidden;
    background-color: #333;
    vertical-align: middle;
}

li {
    float: left;
}

.menuLink {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menuLink:hover {
    background-color: #111;
}

li img {
    width: 100px; /* logo in menu bar */
}

#menuTitle {
    color: orangered;
}

.rightFloated {
    float: right;
}




/* BODY */
body{
    color: black;
    min-height: 4900px;
    width: 100%;
    background-size:        cover;                      
    background-position:    center center;
    background-image: url("../images/backgrounds/full_puzzle.png");
}

