h1 {
    text-align: center;
}
h2 {
    font-weight: bold;
    margin-bottom: 20px;
    text-transform: uppercase;
}
body{
    font-family: 'Montserrat', sans-serif;
    background-image: linear-gradient( 106.7deg,  rgba(255,199,67,1) 103.7%, rgba(255,247,200,1) 120.7% );
}
.category {
    border-left: 2px solid #1F87D1;
    width: auto;
    margin: 4em;
    padding: 0.5em;
    font-size: 20px;
}
.tab {
    margin-left: 20px;
}