
/* HEADER */

.navbar{
    background: orange;
    margin-bottom: 20px;
}

#logo_menu {
    max-width: 100%;
    height: 50px;
}

body{
    font-family: 'Montserrat', sans-serif;
}


/* FOOTER */

.content {
    min-height: calc(100% - 75px);
}

.content:after {
    content: "";
    display: block;
    height: 75px;
}

footer{
    position: relative;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: 50px;
    height: 75px;
    font-family:"fantasy";
    background-color: #fff1a2;
}

.networks{
    margin-left:40%;
}
.networks img{
    width: 30px;
}

div.rights{
    text-align: center;
}

.links{
    margin:3em;
}