/*
    PAGE GAMES
 */
body {
    font-family: 'Montserrat', sans-serif;
}
h1 {
    text-align: center;
}
a {
    text-decoration: none;
    color: black;
}
a:hover {
    text-decoration: none;
    color: black;
}
.categories {
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: red;
}
.card {
    width: 20em;
    height: 100%;
}

.catBtn{
    background-color: blue;
}
@media screen and (max-width: 795px) {
    .categories {
        display: flex;
        flex-flow: row wrap;
    }
}