
/*
    GAME
 */
#game_title{
    margin: auto;
    font-weight: bold;
}

#game_section{
    margin-top: 40px;
}

#game_section h3{
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px
}

#game_description{
    margin-top: 5px;
}

#game_image{
    border: 2px solid gray;
    border-radius: 20px;
    padding: 20px;
    max-height: 350px;
    max-width: 350px;
}

#game_categories{
    margin-bottom: 20px;
    width: 100%;
}

.category{
    margin: 10px;
}

/*
    CHARACTERISTICS
*/
#characteristics_section{
    margin-top: 20px;
}
.characteristic_item{
    margin:auto;
}

.characteristic_label{
    margin: 15px auto 0px auto;
}
.characteristic_label i{
    margin: 5px;
    font-size: 20px;
}

.characteristic{
    margin: auto;
}

/*
    RATING (NOTATION)
 */
#rating_section{
    margin-top: 30px;
}

.myButton{
    margin: 20px auto 10px auto;
}

#rating_block_title{

}

fieldset {
    border:1px solid #999;
    border-radius:8px;
    box-shadow:0 0 10px #999;
    margin-bottom: 20px;
    padding: 5px;
}
legend {
    font-size: 18px;
    font-weight: bold;
    width: 100%;
    text-align: center;
}
#rating_section h4{
    font-size: 18px;
    font-weight: bold;
    width: 100%;
    text-align: center;
}

.average_rate{
    margin: auto;
}

.weakword{
    margin-left: 20px;
}

.strongword{
    flex: 1;
    text-align: right;
    margin-right: 20px;
}

.rating{
    margin: auto;
}
.rating span{
    margin: auto;
    left: 100px;
}
.rating span i{
    margin: 2px;
    font-size: 30px;
}
.rating textarea{
    margin: 5px auto auto auto;
}
