body{
    font-family: Montserrat;
}

.barshop_section {
    background: #ffffaa;
    padding: 30px;
    margin: 40px 0px;
}

.barshop_title {
    text-align: center;
}

.barshop_wotb {
    text-align: center;
    margin: 0px 25px 25px 25px;
    font-style: italic;
}

.barshop_image {
    width: 100%;
    max-height: 400px;
    max-width: 600px;
    border-radius: 30px;
}
.barshop_image:hover {
    opacity: 0.9;
}

.barshop_website {
    text-align: center;
    margin: 0px 25px 25px 25px;
}

.barshop_website a:link, .barshop_website a:visited {
    text-decoration: none;
}
.barshop_website a:hover {

}

.barshop_description {
    text-indent: 30px;
    text-align: justify;
    font-family: Montserrat, fantasy, sans-serif;
}

.barshop_functions {
    text-align: center;
}

.barshop_function {
    margin: 10px;
}

.barshop_contact {

}

.jumbotron label{
    margin: 10px;
}
::-webkit-input-placeholder {
    font-style: italic;
}
:-moz-placeholder {
    font-style: italic;
}
::-moz-placeholder {
    font-style: italic;
}
:-ms-input-placeholder {
    font-style: italic;
}