
/* TODO: centraliser */
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}

#logo {
    max-width:100%;
    height:200px;
    margin-top: 50px;
    margin-bottom: 50px;
}

#title_connection{
    font-size: 42px;
    color: #6E6E6B;
    font-family: fantasy;
    margin-top: 60px;
    text-align: center;
}

#form_small{
    display: block;
    width: 20%;
}

.subconnection a{
    margin-top: 20px;
    display: block;
    text-align: center;
}

.checkbox{
    margin-top: 20px;
}