
<nav class="navbar navbar-expand-sm navbar-light">
    <!-- Brand -->
    <a class="navbar-brand" href="{{ path('admin') }}">
        <!-- <img id="logo_menu" src="{{ asset('images/ludopawn/logo.png') }}" alt="Logo" > -->
    </a>
    <a class="navbar-brand" href="{{ path('admin') }}">Administration</a>

    <a class="btn btn-primary" href="{{ path('home') }}">Retour au site</a>

    <!-- Links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="{{ path('user_index') }}">Utilisateurs</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('barshop_index') }}">Boutiques et bars</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('functions_index') }}">Fonctions</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('game_index') }}">Jeux de société</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('editor_index') }}">Editeurs</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('category_index') }}">Catégories de jeux</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('notation_index') }}">Notations</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('notation_theme_index') }}">Thèmes de Notation</a>
        </li>
    </ul>

    <!-- Dropdown -->
    <ul class ="navbar-nav ml-auto">
        {% if is_granted("IS_AUTHENTICATED_FULLY") and app.user %}
            <li class="nav-item dropdown">
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="{{ path('app_logout') }}">Déconnexion</a>
                </div>
            </li>
        {% else %}
            <a class="btn btn-success" href="{{ path('app_login') }}">Se connecter </a>
        {% endif %}
    </ul>

</nav>