{% extends 'admin.html.twig' %}

{% block head %}
    <title>Administration - Les utilisateurs</title>
{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Espace administration</h1>

    <p>Page d'accueil admin</p>

    <ul>
        <li>
            <a href="{{ path('user_index') }}">Les utilisateurs</a>
        </li>
        <li>
            <a href="{{ path('barshop_index') }}">Les bars et boutiques</a>
        </li>
        <li>
            <a href="{{ path('functions_index') }}">Les fonctions des bars et boutiques</a>
        </li>
        <li>
            <a href="{{ path('editor_index') }}">Les éditeurs</a>
        </li>
        <li>
            <a href="{{ path('game_index') }}">Les jeux de société</a>
        </li>
        <li>
            <a href="{{ path('category_index') }}">Les catégories de jeux</a>
        </li>
        <li>
            <a href="{{ path('notation_index') }}">Les notations des jeux</a>
        </li>
        <li>
            <a href="{{ path('notation_theme_index') }}">Les thèmes notation</a>
        </li>
    </ul>
</div>

{% endblock %}
