{% extends 'base.html.twig' %}

{% block head %}
    <link rel="stylesheet" href="{{ asset('css/style_game.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/starrating/css/rating.css') }}" />
    <title>Ludopawn - {{ game.getName() }}</title>
{% endblock %}

{% block body %}

    <div class="container">
        <div id="game_section">
            <div class="row">
                <div class="col-12 col-sm-6 col-md-4">
                    <img id="game_image" class="img-responsive" src="{{ asset(game.getImage()) }}" title="image {{ game.getName() }}" alt="image {{ game.getName() }}">
                </div>
                <div class="col-xl-8">
                    <div class="row">
                        <h1 id="game_title">{{ game.getName() }}</h1>
                    </div>

                    <div class="row">
                        <h3>Synopsis :</h3>
                    </div>
                    <div class="row">
                        <p id="game_description">{{ game.getSynopsys() }}</p>
                    </div>

                    <div class="row" id="game_categories">
                        <div class="col">
                            <div class="row">
                                <h3>Catégories associées à ce jeu :</h3>
                            </div>
                            <div class="row">
                                {% for category in game.getCategories() %}
                                    <a href="{{ path('games', {category: category}) }}"><span class="category badge badge-info">{{ category.getName() }}</span></a>
                                {% endfor %}
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div id="characteristics_section">
                <div class="row">
                    <div class="col">
                        <div class="row">
                            <h3>Caractéristiques du jeu :</h3>
                        </div>
                        <div class="row">
                            <div class="col-7 col-sm-3 characteristic_item">
                                <div class="row"><div class="characteristic_label"><i class="fas fa-users"></i> Nombre de joueurs :</div></div>
                                <div class="row"><div class="characteristic">{{ game.getNumberPlayers() }} joueurs</div></div>
                            </div>
                            <div class="col-7 col-sm-3 characteristic_item">
                                <div class="row"><div class="characteristic_label"><i class="fas fa-stopwatch"></i> Temps de jeu :</div></div>
                                <div class="row"><div class="characteristic">{{ game.getMinutesPerGame() }} minutes</div></div>
                            </div>
                            <div class="col-7 col-sm-3 characteristic_item">
                                <div class="row"><div class="characteristic_label"><i class="fas fa-user-friends"></i> Âge limite :</div></div>
                                <div class="row"><div class="characteristic">{{ game.getAgeLimit() }} ans</div></div>
                            </div>
                            <div class="col-7 col-sm-3 characteristic_item">
                                <div class="row"><div class="characteristic_label"><i class="fas fa-money-bill-wave"></i> Prix moyen constaté :</div></div>
                                <div class="row"><div class="characteristic">{{ game.getAveragePrice() }} €</div></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="comment_section">

        </div>

        <div id="rating_section">
            {{ form_start(form) }}
            <div class="row">
            {% if notations %}
                {{  form_row(form.rating_1, { 'value': notations[themes[0].getName()]['Notation'] }) }}
                {{  form_row(form.rating_2, { 'value': notations[themes[1].getName()]['Notation'] }) }}
                {{  form_row(form.rating_3, { 'value': notations[themes[2].getName()]['Notation'] }) }}
                {{  form_row(form.rating_4, { 'value': notations[themes[3].getName()]['Notation'] }) }}
                {{  form_row(form.rating_5, { 'value': notations[themes[4].getName()]['Notation'] }) }}
            {% else %}
                {{  form_row(form.rating_1, { 'value': 0 }) }}
                {{  form_row(form.rating_2, { 'value': 0 }) }}
                {{  form_row(form.rating_3, { 'value': 0 }) }}
                {{  form_row(form.rating_4, { 'value': 0 }) }}
                {{  form_row(form.rating_5, { 'value': 0 }) }}
            {% endif %}
            </div>
            <div class="row">
                {% if is_granted("IS_AUTHENTICATED_FULLY") and app.user %}
                    {% if is_granted('ROLE_EXPERT') %}
                        <h2 id="rating_block_title">Évaluer (expert <i class="fas fa-user-tie"></i>) :</h2>
                    {% else %}
                        <h2 id="rating_block_title">Évaluer (utilisateur <i class="fas fa-user-check"></i>) :</h2>
                    {% endif %}
                {% else %}
                    <h2 id="rating_block_title">Connectez-vous pour évaluer ce jeu (non connecté <i class="fas fa-user"></i>) :</h2>
                {% endif %}
            </div>
            <div class="row">
                {% for i in 0..themes|length-1 %}
                <div class="col-12 col-sm-12 col-lg-6">
                    <fieldset>
                        <div class="row">
                            <legend>{{ themes[i].getName() }}</legend>
                        </div>
                        <div class="row">
                            <span class="average_rate"> (Moyenne : {{ averages[themes[i].getName()] }} / {{ themes[i].getLimitNotation() }})</span>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="row">
                                    <span class="weakword">{{ themes[i].getWeakWord() }}</span>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="row">
                                    <span class="strongword">{{ themes[i].getStrongWord() }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="rating">
                                        <span id="rating-{{ i+1 }}" data-stars="{% if notations|length > 0 %}{{ notations[themes[i].getName()]['Notation'] }}{% endif %}"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
                {% endfor %}

                {% if is_granted('ROLE_EXPERT') %}
                <div class="col-sm-6">
                    <div class="row">
                        <h4>Commentaire :</h4>
                    </div>
                    <div class="row">
                        <div class="rating">
                            {{ form_row(form.comment, { 'value': comment, 'attr' : { 'cols' : "40", "rows" : "4"} }) }}
                        </div>
                    </div>
                </div>
                {% else %}
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="rating">
                                <!-- Si pas expert on prétend qu'il est déjà apparu pour ne pas le fairer apparaitre -->
                                {% do form.comment.setRendered() %}
                            </div>
                        </div>
                    </div>
                </div>
                    {% endif %}
                <div class="col-sm-12">
                    {% if is_granted("IS_AUTHENTICATED_FULLY") and app.user %}
                        {% if not form_already_submitted %}
                        <div class="row">
                            <button class="btn btn-primary myButton">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star-half-alt"></i>
                                <i class="far fa-star"></i> Noter ce jeu
                            </button>
                        </div>
                        {% else %}
                        <div class="row">
                            <button class="btn btn-danger myButton">
                                <i class="far fa-star"></i>
                                Mettre à jour ma notation
                                <i class="far fa-star"></i>
                            </button>
                        </div>
                        {% endif %}
                    {% endif %}
                {{ form_end(form) }}
                {% if not is_granted("IS_AUTHENTICATED_FULLY") %}
                    <div class="row">
                        <a class="btn btn-success myButton" href="{{ path('app_login') }}">
                            <i class="fas fa-sign-in-alt"></i>
                            Se connecter pour noter
                        </a>
                    </div>
                {% endif %}
                </div>
            </div>
        </div>
    </div>

    <script src="{{ asset('js/jquery-rate-picker.js') }}"></script>

    <script>
        {% for j in 0..themes|length-1 %}
            $.ratePicker("#rating-{{ j+1 }}", {
                max :{{ themes[j].getLimitNotation() }},
                rgbOn:"{{ themes[j].getColor() }}",
                rgbOff:"#cacaca",
                rgbSelection:"#00b6ff",
                cursor:"grab",
                rate : function (stars){
                    $("#notation_group_rating_{{ j+1 }}").val(stars);
                },
                indicator:"{{ themes[j].getIcon() }}"
            });
        {% endfor %}
    </script>

{% endblock %}