{% extends 'base.html.twig' %}

{% block head %}
    <link rel="stylesheet" href="{{ asset('css/style_games.css') }}" />
    <title>Ludopawn - Les Jeux</title>
{% endblock %}

{% block body %}
    <h1>Les jeux</h1>
    <div class="container">
        <div class="row">
            <div class="btn-group mr-2 categories" role="group" aria-label="group category">
                {% for cat in category %}
                    <a type="button" class="btn btn-warning catBtn" href="{{ path('games_filtered', {categorie: cat}) }}"> {{ cat.name }}</a>
                {% endfor %}
            </div>
        {% for game in games %}
            <div class="col">
                <a href="{{ path('game_display', {'id': game.id}) }}">
                    <div class="card">
                        <img src="{{ asset(game.getImage()) }}" class="card-img-top" alt="{{ game.getName() }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ game.getName() }}</h5>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
        </div>
    </div>

{% endblock %}
