{% extends 'admin.html.twig' %}

{% block title %}Edit Editor{% endblock %}

{% block body %}
    <h1>Edit Editor</h1>

    {{ include('admin/editor/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('editor_index') }}">back to list</a>

    {{ include('admin/editor/_delete_form.html.twig') }}
{% endblock %}
