{% extends 'admin.html.twig' %}

{% block title %}Editor index{% endblock %}

{% block body %}
    <h1>Editor index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Website</th>
                <th>Address</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for editor in editors %}
            <tr>
                <td>{{ editor.id }}</td>
                <td>{{ editor.name }}</td>
                <td>{{ editor.website }}</td>
                <td>{{ editor.address }}</td>
                <td>
                    <a href="{{ path('editor_show', {'id': editor.id}) }}">show</a>
                    <a href="{{ path('editor_edit', {'id': editor.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('editor_new') }}">Create new</a>
{% endblock %}
