{% extends 'admin.html.twig' %}

{% block title %}New Editor{% endblock %}

{% block body %}
    <h1>Create new Editor</h1>

    {{ include('admin/editor/_form.html.twig') }}

    <a href="{{ path('editor_index') }}">back to list</a>
{% endblock %}
