{% extends 'admin.html.twig' %}

{% block title %}Edit Barshop{% endblock %}

{% block body %}
    <h1>Edit Barshop</h1>

    {{ include('admin/barshop/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('barshop_index') }}">back to list</a>

    {{ include('admin/barshop/_delete_form.html.twig') }}
{% endblock %}
