{% extends 'admin.html.twig' %}

{% block title %}Barshop index{% endblock %}

{% block body %}
    <h1>Barshop index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>WordOfTheBoss</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Website</th>
                <th>Type</th>
                <th>Address_num</th>
                <th>Address_street_or_locality</th>
                <th>Address_complement</th>
                <th>Address_zipcode</th>
                <th>Address_city</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for barshop in barshops %}
            <tr>
                <td>{{ barshop.id }}</td>
                <td>{{ barshop.name }}</td>
                <td>{{ barshop.description }}</td>
                <td>{{ barshop.wordOfTheBoss }}</td>
                <td>{{ barshop.phone }}</td>
                <td>{{ barshop.email }}</td>
                <td>{{ barshop.website }}</td>
                <td>{{ barshop.type }}</td>
                <td>{{ barshop.addressNum }}</td>
                <td>{{ barshop.addressStreetOrLocality }}</td>
                <td>{{ barshop.addressComplement }}</td>
                <td>{{ barshop.addressZipcode }}</td>
                <td>{{ barshop.addressCity }}</td>
                <td>
                    <a href="{{ path('barshop_show', {'id': barshop.id}) }}">show</a>
                    <a href="{{ path('barshop_edit', {'id': barshop.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="15">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('barshop_new') }}">Create new</a>
{% endblock %}
