{% extends 'admin.html.twig' %}

{% block title %}New Barshop{% endblock %}

{% block body %}
    <h1>Create new Barshop</h1>

    {{ include('admin/barshop/_form.html.twig') }}

    <a href="{{ path('barshop_index') }}">back to list</a>
{% endblock %}
