{% extends 'admin.html.twig' %}

{% block title %}Barshop{% endblock %}

{% block body %}
    <h1>Barshop</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ barshop.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ barshop.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ barshop.description }}</td>
            </tr>
            <tr>
                <th>WordOfTheBoss</th>
                <td>{{ barshop.wordOfTheBoss }}</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>{{ barshop.phone }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ barshop.email }}</td>
            </tr>
            <tr>
                <th>Website</th>
                <td>{{ barshop.website }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ barshop.type }}</td>
            </tr>
            <tr>
                <th>Address_city</th>
                <td>{{ barshop.addressCity }}</td>
            </tr>
            <tr>
                <th>Address_zipcode</th>
                <td>{{ barshop.addressZipcode }}</td>
            </tr>
            <tr>
                <th>Address_street_or_locality</th>
                <td>{{ barshop.addressStreetOrLocality }}</td>
            </tr>
            <tr>
                <th>Address_num</th>
                <td>{{ barshop.addressNum }}</td>
            </tr>
            <tr>
                <th>Address_complement</th>
                <td>{{ barshop.addressComplement }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('barshop_index') }}">back to list</a>

    <a href="{{ path('barshop_edit', {'id': barshop.id}) }}">edit</a>

    {{ include('admin/barshop/_delete_form.html.twig') }}
{% endblock %}
