<form method="post" action="{{ path('category_delete', {'id': game_category.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ game_category.id) }}">
    <button class="btn">Delete</button>
</form>
