{% extends 'admin.html.twig' %}

{% block title %}Edit GameCategory{% endblock %}

{% block body %}
    <h1>Edit GameCategory</h1>

    {{ include('admin/category/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('category_index') }}">back to list</a>

    {{ include('admin/category/_delete_form.html.twig') }}
{% endblock %}
