{% extends 'admin.html.twig' %}

{% block title %}GameCategory{% endblock %}

{% block body %}
    <h1>GameCategory</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ game_category.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ game_category.name }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('category_index') }}">back to list</a>

    <a href="{{ path('category_edit', {'id': game_category.id}) }}">edit</a>

    {{ include('admin/category/_delete_form.html.twig') }}
{% endblock %}
