{% extends 'base.html.twig' %}
{% block head %}

    <link rel="stylesheet" href="{{ asset('css/contact.css') }}" />
    <title>Ludopawn - Contact</title>

{% endblock %}

{% block body %}

    {% block title %}<h1>Contactez-nous</h1>{% endblock %}

    <div class="container">
        <div class="category">
            <h2>Adresse de la société</h2>
            <div class="tab">
                <p>Siège social: Batiment Alpha, 16 Rue Magellan, 31670 Labège.</p>
                <p>Adresse email : contact@ludopawn.com</p>
                <p>Numéro de téléphone : 08 00 10 10 80</p>
            </div>
        </div>
    </div>
{% endblock %}
