<!DOCTYPE html>
<html lang="fr-fr">

    <head>
        {{ include('admin/_head.html.twig') }}
        {% block head %}
        {% endblock %}
    </head>

    <body>
        <header>
            {{ include('admin/_header.html.twig') }}
            {% block header %}
            {% endblock %}
        </header>


        {% block body %}
        {% endblock %}

        <footer>
            {{ include('admin/_footer.html.twig') }}
            {% block footer %}
            {% endblock %}
        </footer>


        {% block scripts %}
        {% endblock %}

    </body>
</html>