<!DOCTYPE html>
<html lang="fr-fr">

    <head>
        {{ include('base/_head.twig') }}
        {% block head %}
        {% endblock %}
    </head>

    <body>
        <header>
            {{ include('base/_header.twig') }}
            {% block header %}
            {% endblock %}
        </header>


        {% block body %}
        {% endblock %}

        <footer>
            {{ include('base/_footer.twig') }}
            {% block footer %}
            {% endblock %}
        </footer>


        {% block scripts %}
        {% endblock %}

    </body>
</html>