{% extends 'base.html.twig' %}

{% block head %}
    <link rel="stylesheet" href="{{ asset('css/style_barshop.css') }}" />
    <script src="{{ asset('js/clearSearch.js') }}"></script>
    <!-- Même CSS pour Bars et Boutiques ; logique -->
    <title>Ludopawn - Les bars</title>
{% endblock %}

{% block body %}

    <div class="container">

        <h1 class="barshop_title">Les bars</h1>

        <div class="jumbotron">
            <div class="container">
                {{ form_start(form) }}
                <div class="form-row">
                    <div class="col">
                        {{  form_row(form.city) }}
                    </div>
                    <div class="col">
                        {{  form_row(form.name) }}
                    </div>
                    <div class="col">
                        <button class="btn btn-danger" onclick="clearSearchBarshop()" type="button"><i class="fas fa-times-circle"></i></button>
                        <button class="btn btn-primary"><i class="fas fa-search"></i> Rechercher</button>
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>

        {% for bar in bars %}
            <div class="barshop_section">
                <h2 class="barshop_title">{{ bar.getName() }}</h2>
                <div class="row">
                    <div class="col-xl-6">
                        <div class="barshop_wotb">« {{ bar.getWordOfTheBoss() }} »</div>
                        <div class="">
                            <img class="barshop_image" src="{{ asset(bar.getImage()) }}" alt="Photo {{ bar.getName() }}" >
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="barshop_website">
                            {% if bar.getWebsite() %}
                                <a class="badge badge-info" href="{{ bar.getWebsite() }}" target="_blank"><i class="fas fa-globe"></i> Site web ({{bar.getName()}})</a>
                            {% endif %}
                        </div>
                        <div class="barshop_description">
                            <p>{{ bar.getdescription() }}</p>
                        </div>
                        <div class="barshop_functions">
                            {% for function in bar.getFunctions() %}
                                <span class="barshop_function badge badge-warning">{{ function.getName() }}</span>
                            {% endfor %}
                        </div>
                        <div class="barshop_contact row">
                            <div class="barshop_address col-xl-12 col-sm-12">
                                <i class="fas fa-map-marked-alt"></i> {{ bar.getAddressNum() }} {{ bar.getAddressComplement() }} {{ bar.getAddressStreetOrLocality() }} {{ bar.getAddressZipcode() }} {{ bar.getAddressCity() }}
                            </div>
                            {% if bar.getPhone() %}
                                <div class="barshop_phone col-xl-4 col-sm-12">
                                    <i class="fas fa-phone"></i> {{ bar.getPhone() }}
                                </div>
                            {% endif %}
                            {% if bar.getEmail() %}
                                <div class="barshop_email col-xl-4 col-sm-12">
                                    <i class="fas fa-at"></i> {{ bar.getEmail() }}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="barshop_section">
                <h2>Aucun bar</h2>
                <p>Aucun établissement n'est classé comme Bar dans notre base de données.</p>
            </div>
        {% endfor %}
    </div>

{% endblock %}