{% extends 'admin.html.twig' %}

{% block title %}Notation index{% endblock %}

{% block body %}
    <h1>Notation index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Notation</th>
                <th>LimitNotation</th>
                <th>Ponderation</th>
                <th>Comment</th>
                <th>Date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for notation in notations %}
            <tr>
                <td>{{ notation.id }}</td>
                <td>{{ notation.notation }}</td>
                <td>{{ notation.limitNotation }}</td>
                <td>{{ notation.ponderation }}</td>
                <td>{{ notation.comment }}</td>
                <td>{{ notation.date ? notation.date|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('notation_show', {'id': notation.id}) }}">show</a>
                    <a href="{{ path('notation_edit', {'id': notation.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('notation_new') }}">Create new</a>
{% endblock %}
