{% extends 'admin.html.twig' %}

{% block title %}New Notation{% endblock %}

{% block body %}
    <h1>Create new Notation</h1>

    {{ include('admin/notation/_form.html.twig') }}

    <a href="{{ path('notation_index') }}">back to list</a>
{% endblock %}
