{% extends 'admin.html.twig' %}

{% block title %}Notation{% endblock %}

{% block body %}
    <h1>Notation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ notation.id }}</td>
            </tr>
            <tr>
                <th>Notation</th>
                <td>{{ notation.notation }}</td>
            </tr>
            <tr>
                <th>LimitNotation</th>
                <td>{{ notation.limitNotation }}</td>
            </tr>
            <tr>
                <th>Ponderation</th>
                <td>{{ notation.ponderation }}</td>
            </tr>
            <tr>
                <th>Comment</th>
                <td>{{ notation.comment }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ notation.date ? notation.date|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('notation_index') }}">back to list</a>

    <a href="{{ path('notation_edit', {'id': notation.id}) }}">edit</a>

    {{ include('admin/notation/_delete_form.html.twig') }}
{% endblock %}
