{% extends 'admin.html.twig' %}

{% block title %}Game index{% endblock %}

{% block body %}
    <h1>Game index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Synopsys</th>
                <th>Image</th>
                <th>NumberPlayers</th>
                <th>MinutesPerGame</th>
                <th>AgeLimit</th>
                <th>AveragePrice</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for game in games %}
            <tr>
                <td>{{ game.id }}</td>
                <td>{{ game.name }}</td>
                <td>{{ game.synopsys }}</td>
                <td>{{ game.image }}</td>
                <td>{{ game.numberPlayers }}</td>
                <td>{{ game.minutesPerGame }}</td>
                <td>{{ game.ageLimit }}</td>
                <td>{{ game.averagePrice }}</td>
                <td>
                    <a href="{{ path('game_show', {'id': game.id}) }}">show</a>
                    <a href="{{ path('game_edit', {'id': game.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('game_new') }}">Create new</a>
{% endblock %}
