{% extends 'admin.html.twig' %}

{% block title %}Game{% endblock %}

{% block body %}
    <h1>Game</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ game.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ game.name }}</td>
            </tr>
            <tr>
                <th>Synopsys</th>
                <td>{{ game.synopsys }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ game.image }}</td>
            </tr>
            <tr>
                <th>NumberPlayers</th>
                <td>{{ game.numberPlayers }}</td>
            </tr>
            <tr>
                <th>MinutesPerGame</th>
                <td>{{ game.minutesPerGame }}</td>
            </tr>
            <tr>
                <th>AgeLimit</th>
                <td>{{ game.ageLimit }}</td>
            </tr>
            <tr>
                <th>AveragePrice</th>
                <td>{{ game.averagePrice }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('game_index') }}">back to list</a>

    <a href="{{ path('game_edit', {'id': game.id}) }}">edit</a>

    {{ include('admin/game/_delete_form.html.twig') }}
{% endblock %}
