{% extends 'base.html.twig' %}

{% block head %}
    <title>Ludopawn - Mon profil</title>
{% endblock %}

{% block body %}

    <p>Salut {{ user.getFirstname() }} {{ user.getLastname() }}</p>

{% endblock %}